<!--   ***   Main Body layout   ***   -->
<div class="jumbotron jumbotron-fluid">
  <div class="title">
        Symbii
  </div>

    <div class="text-body">
      Please Choose a Profile Type for this Session:

      <!--   ***   Dual Column layout for profile options   ***   -->
      <div class="row">
        <div class="col-6">
            <div class="left-col">
              <label>Proceed as a Parent</label>
              <button type="submit" class="btn btn-primary">Parent</button>
            </div>
        </div>
        <div class="col-6">
            <div class="right-col">
              <label>Proceed as a Caregiver</label>
              <button type="submit" class="btn btn-primary">Caregiver</button>
            </div>
        </div>
      </div>
      
    </div>

</div>
