<div class="card" style="width: 50rem;">
    <div class="card-body">
      <div class="card-header">
        REVIEWS
      </div>
    <section class="container-fluid">
        <form (submit)="onReviewSubmit()" [formGroup]="reviewForm">
            <div>
              <div class="form-group">
                <label for="reviewTitle">Review Title: </label>
                <div class="col-sm-100">
                    <input type="text" class="form-control" placeholder="Enter Review Title" required>
                </div>
              </div>
             
              
              <div class="form-group">
        
                
                <a *ngFor="let item of starList; let i=index " (click)="setStar(i)">
                  <i *ngIf="item" class="far fa-star"></i>
                  <i *ngIf="!item" class="fas fa-star"></i>
                </a>
                <br>
                
        
              </div>
              <div class="form-group">
                <label for="reviewNotes">Comments : </label>
                <div>
                  <input type="reviewNotes" class="form-control" formControlName="reviewNotes" placeholder="Enter Comments (optional)">
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!reviewForm.valid">Submit</button>
          </form>
        </section>
  
        </div>
  </div>
