<div class="container-fluid">
  <div class="card" style="width: 50rem;">
    <div class="card-body">
      <div class="card-title">
        <h5>Write a Review</h5>
      </div>
      <div class="card-text">
        <form (submit)="submitReview()" [formGroup]="reviewForm">
          <div class="form-group form-row">
            <label for="reviewTitle" class="col-sm-2">Review Title : </label>
            <input type="text" class="form-control col-sm-10" placeholder="Review Title" formControlName="reviewTitle"
              required>
          </div>
          <div class="form-group form-row">
            <label for="starRating" class="col-sm-2"> Ratings : </label>
            <div class="col-sm-10">
              <span *ngFor="let item of starList; let i = index" (click)="setStar(i)">
                <i *ngIf="item" class="far fa-star"></i>
                <i *ngIf="!item" class="fas fa-star"></i>
              </span>
            </div>
            <br>
          </div>
          <div class="form-group form-row">
            <label for="reviewNotes" class="col-sm-2">Review Notes : </label>
            <textarea cols="30" rows="5" class="form-control col-sm-10" formControlName="reviewNotes"
              placeholder="Review Notes (optional)"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!reviewForm.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
