<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" id="dashboard-sidebar">
          <app-sidebar></app-sidebar>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> {{caregiver.firstName}} </h5>
                <div class="card-text" *ngIf="caregiver.address">
                    <span *ngIf="caregiver.address.addressLine1">{{caregiver.address.addressLine1}}</span>
                    <span *ngIf="caregiver.address.addressLine2">, {{caregiver.address.addressLine2}}</span> <br>
                    <span *ngIf="caregiver.address.city">{{caregiver.address.city}}</span>
                    <span *ngIf="caregiver.address.state">, {{caregiver.address.state}}</span> <br>
                    <span *ngIf="caregiver.address.country">{{caregiver.address.country}}</span>
                </div>
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#openjobModal">Schedule</a>
            </div>
        </div>

        <div class="card ml-3" style="width: 40rem;">
            <div class="card-body">
                <h5 class="card-title"> About {{caregiver.firstName}}</h5>
                {{caregiver.bio}}
            </div>
            <div class="card-body">
                <h5 class="card-title"> Experience </h5>
                <div *ngIf="caregiver.experience != null; else expBlock">
                    <div *ngFor="let exp of caregiver.experience">
                        <i>
                            {{exp.jobPlace}}<br>
                            {{exp.jobDesignation}}<br>
                            {{exp.jobDescription}}<br>
                            {{exp.startDate}}<br>
                            {{exp.endDate}}
                        </i>
                    </div>
                </div>
                <ng-template #expBlock>
                    This Caregiver has not added any experience
                </ng-template>
            </div>
            <div class="card-body">
                <h5 class="card-title"> Reviews </h5>
                <div class="modal-body container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card my-3" *ngFor="let review of caregiverReviews">
                                <div class="card-body card-text">
                                    <div class="float-left text-break" style="width: 70%;">
                                        <strong>{{review.reviewTitle}}</strong> <br>
                                        <i>{{review.reviewDate}}</i>
                                    </div>
                                    <div class="float-right" style="width: 28%;">
                                        <span *ngFor="let s of getStartRatingsArray(review.starRating)">
                                            <i *ngIf="!s" class="far fa-star"></i>
                                            <i *ngIf="s" class="fas fa-star"></i>
                                            </span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="text-break">{{review.reviewNotes}}</div>
                                </div>
                            </div>
                            <div *ngIf="!caregiverReviews || caregiverReviews.length == 0">
                                <strong>No reviews found.</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Job Modal Window -->
    <div id="openjobModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-x1 modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="main-col">
                        <h3>Schedule {{caregiver.firstName}}</h3>
                        <form (submit)="scheduleJob()" [formGroup]='scheduleForm'>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="title">Job Name</label>
                                        <input type="text" class="form-control" formControlName="jobName">
                                        <div *ngIf="jobName.invalid && (jobName.dirty || jobName.touched)" class="text-danger">
                                            <div *ngIf="jobName.errors.required">
                                                Job name is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="startDate">Start date-time</label>
                                      <div class="input-group date" id="startDate" data-target-input="nearest">
                                        <div class="input-group-prepend" data-target="#startDate" data-toggle="datetimepicker">
                                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                        <input type="text" class="form-control datetimepicker-input" data-target="#startDate"
                                          formControlName="jobStartTime" />
                                      </div>
                                    </div>
                                    <div *ngIf="jobStartTime.invalid && (jobStartTime.dirty || jobStartTime.touched)" class="text-danger">
                                        <div *ngIf="jobStartTime.errors.required">
                                          Job name is required
                                        </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="endDate">End date-time</label>
                                      <div class="input-group date" id="endDate" data-target-input="nearest">
                                        <div class="input-group-prepend" data-target="#endDate" data-toggle="datetimepicker">
                                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                        <input type="text" class="form-control datetimepicker-input" data-target="#endDate"
                                          formControlName="jobEndTime" />
                                      </div>
                                    </div>
                                    <div *ngIf="jobEndTime.invalid && (jobEndTime.dirty || jobEndTime.touched)" class="text-danger">
                                        <div *ngIf="jobEndTime.errors.required">
                                          Job name is required
                                        </div>
                                    </div>
                                  </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="notes"> Notes(optional) </label>
                                    <textarea class="form-control" id="notes" cols="30" rows="5" formControlName="jobNotes"></textarea>
                                  </div>
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="col-md-4">
                                  <button type="submit" class="btn btn-primary" [disabled]="!postOpenJobForm.valid"> Post Job </button>
                                </div>
                              </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
