<!--   ***   Nested Dual Column layout for dashboard options   ***   -->
<div class="container-fluid">
  <div class="row" id="parent-dashboard">
    <div class="col-2" id="dashboard-sidebar">
      <div class="sidebar-logo">Symbii</div>
      <div class="sidebar-content">
        <ul class="left-hand-list">
          <li>My Profile</li>
          <li>My Community</li>
          <li>Reviews</li>
          <li>Payments</li>
          <li>Account Settings</li>
        </ul>
      </div>
    </div>
    <div class="col-10" id="dashboard-main">
      <div class="title">Symbii Dashboard</div>
      <div class="text-body">
        <div class="row" id="item-row">
          <div class="col-2">
            <div class="dashboard-item" id="first-item">
              <label class="item-label">Post a Job</label>
              <div class="data-portal" id="first-data">Data Goes Here</div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
          <div class="col-2">
            <div class="dashboard-item" id="second-item">
              <label class="item-label">Update a Job</label>
              <div class="data-portal" id="second-data">Data Goes Here</div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
          <div class="col-2">
            <div class="dashboard-item" id="third-item">
              <label class="item-label">Complete a Job</label>
              <div class="data-portal" id="third-data">Data Goes Here</div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
          <div class="col-2">
            <div class="dashboard-item" id="fourth-item">
              <label class="item-label">Cancel a Job</label>
              <div class="data-portal" id="fourth-data">Data Goes Here</div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
          <div class="col-2">
            <div class="dashboard-item" id="fifth-item">
              <label class="item-label">Find a Client</label>
              <div class="data-portal" id="fifth-data">Data Goes Here</div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
          <div class="col-2">
            <div class="dashboard-item" id="sixth-item">
              <label class="item-label">Book a Client</label>
              <div class="data-portal" id="sixth-data">Data Goes Here</div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
