<!--   ***   Nested Dual Column layout for dashboard options   ***   -->
<div class="container-fluid">
  <div class="row" id="parent-dashboard">
    <div class="col-1" id="dashboard-sidebar">
      <div class="sidebar-logo">Symbii</div>
      <div class="sidebar-content">
        <h6 style="text-align: center">Parent Links</h6>
        <ul class="left-hand-list">
          <li>My Profile</li>
          <li>Caregivers</li>
          <li>Settings</li>
          <li>Extensions</li>
          <li>Locations</li>
        </ul>
      </div>
    </div>
    <div class="col-11" id="dashboard-main">
      <div class="title">Symbii Dashboard</div>
      <div class="text-body">
        <div class="row">
          <div class="col-2">
            <div class="dashboard-item" id="first-item">
              <label class="item-label">Open Jobs</label>
              <div class="data-portal" id="first-data"></div>
              <button type="submit" class="btn btn-primary">Get Open Jobs</button>
            </div>
          </div>
          <div class="col-2">
            <div class="dashboard-item" id="second-item">
              <label class="item-label">Scheduled Jobs</label>
              <div class="data-portal" id="second-data"></div>
              <button type="submit" class="btn btn-primary">Get Scheduled Jobs</button>
            </div>
          </div>
          <div class="col-2">
            <div class="dashboard-item" id="third-item">
              <label class="item-label">Completed Jobs</label>
              <div class="data-portal" id="third-data"></div>
              <button type="submit" class="btn btn-primary">Get Completed Jobs</button>
            </div>
          </div>
          <div class="col-2">
            <div class="dashboard-item" id="fourth-item">
              <label class="item-label">Requests</label>
              <div class="data-portal" id="fourth-data"></div>
              <button type="submit" class="btn btn-primary">Respond to Request</button>
            </div>
          </div>
          <div class="col-2">
            <div class="dashboard-item" id="fifth-item">
              <label class="item-label">Reviews</label>
              <div class="data-portal" id="fifth-data"></div>
              <button type="submit" class="btn btn-primary">Write Review</button>
            </div>
          </div>
          <div class="col-2">
            <div class="dashboard-item" id="sixth-item">
              <label class="item-label">Payments</label>
              <div class="data-portal" id="sixth-data"></div>
              <button type="submit" class="btn btn-primary">Manage Payments</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>