/* You can add global styles to this file, and also import other style files */

/* Angular Calendar Styles */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/flatpickr/dist/flatpickr.css";

h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}
/* Angular Calendar Styles */



main .container:first-child,main .container-fluid:first-child {
  padding-top: 5rem;
}
