<div class="container-fluid">
  <div class="main-col">
    <h3>Post open Job</h3>
    <form (submit)="postOpenJob()" [formGroup]="postOpenJobForm">
      <div class="form-row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="title">Job name</label>
            <input type="text" class="form-control" formControlName="jobName">
            <div *ngIf="jobName.invalid && (jobName.dirty || jobName.touched)" class="text-danger">
                <div *ngIf="jobName.errors.required">
                  Job name is required
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="startDate">Start date-time</label>
            <div class="input-group date" id="startDate" data-target-input="nearest">
              <div class="input-group-prepend" data-target="#startDate" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
              <input type="text" class="form-control datetimepicker-input" data-target="#startDate"
                formControlName="jobStartTime" />
            </div>
          </div>
          <div *ngIf="jobStartTime.invalid && (jobStartTime.dirty || jobStartTime.touched)" class="text-danger">
              <div *ngIf="jobStartTime.errors.required">
                Job start time is required
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="endDate">End date-time</label>
            <div class="input-group date" id="endDate" data-target-input="nearest">
              <div class="input-group-prepend" data-target="#endDate" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
              <input type="text" class="form-control datetimepicker-input" data-target="#endDate"
                formControlName="jobEndTime" />
            </div>
          </div>
          <div *ngIf="jobEndTime.invalid && (jobEndTime.dirty || jobEndTime.touched)" class="text-danger">
              <div *ngIf="jobEndTime.errors.required">
                Job end time is required
              </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="notes"> Notes </label>
            <textarea class="form-control" placeholder="Extra notes(optional)" cols="30" rows="5" formControlName="jobNotes"></textarea>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">
          <button type="submit" class="btn btn-primary" [disabled]="!postOpenJobForm.valid"> Post Job </button>
        </div>
      </div>
    </form>
    <div class="alert alert-success mt-3" *ngIf="postSuccess">
      Job posted successfully.
    </div>
  </div>
</div>
