<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
            integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
            crossorigin="anonymous"></script>
    <style type="text/css">
        .left-col{
            background: #b2ebf2;
            font-family: 'Pacifico';
            font-size: 15px;
            min-height: 300px;
            margin: 15px 0 10px 5px;
            padding: 15px;
        }
        .main-col{
            background: #b2ebf2;
            font-size: 15px;
            min-height: 300px;
            margin: 15px 5px 10px 0;
            padding: 15px;
			color: black;
        }
        .foundation-col{
            background: #b2ebf2;
            font-size: 15px;
            min-height: 100px;
            margin: 10px 5px 15px 5px;
            padding: 15px;
        }
        .profile-summary{
            background: #b2ebf2;
            font-family: sans-serif;
        }
		.profile-edit-btn{
			border: none;
			border-radius: 1.5rem;
			width: 70%;
			padding: 2%;
			font-weight: 600;
			color: #6c757d;
			cursor: pointer;
			right: 300%;
			top: 150px;
		}
		.profile-rating{
		color:black;
		}

        .profile-edit-btn{
            border: none;
            border-radius: 1.5rem;
            width: 70%;
            padding: 2%;
            font-weight: 600;
            color: #6c757d;
            cursor: pointer;
            position: relative;
            top: 0;
            left: 600%;
        }
		
        #updatePhoto {
            display: block;
            width: 100%;
            border: none;
            background-color: #000000;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
        }
    </style>
    <title>Symbii</title>
    <base href="/api/">
</head>
<body>
<nav class="navbar navbar-expand-md navbar--light" style="background-color: #f48fb1">
    <a class="navbar-brand" href="#">Symbii</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarsExample04" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register">Register</a>
            </li>
            <!--                    Disabled DropDown Menu ... Can Implement when ready   -->
            <!--                    <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </li>-->
        </ul>
        <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search Not Functional Yet">
        </form>
    </div>
</nav>

<!-- Main Body layout  -->
<div class="container-fluid">
    <!--Row with single column-->
    <div class="row">
        <div class="col-3">
            <div class="left-col">
                <h1 style="text-align: center">Symbii</h1>
                <p style="text-align: center">A Symbiotic Relationship Between Parents and Nannies</p>
                <div class="profile-summary">
                    <h3 style="text-align: center">Profile Details</h3>
<!--                    <img src="C:\Users\Victo\WebstormProjects\k\symbi\src\assets\pexels-photo-1036622_sq400.jpg" alt="Sarah Ghelani"/>-->
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                    <button class="btn btn-primary" type="button" id="updatePhoto">Change Photo</button>
                    
                        <h4>Charlie Williams</h4></a>
						<p class="profile-rating">RATEING: <span>8/10</span></p>
                    <ul>
                        <li><a href="">Upcoming events</a></li>
                        <li><a href="">Activity Log</a></li>
                    </ul>
                </div>
            </div>
        </div>
		
		
        <div class="col-9">
            <div class="main-col">
			
                    <div class="col-md-2">
                            <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                    </div>
			
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="experience-tab" data-toggle="tab" href="#experience" role="tab" aria-controls="family" aria-selected="false">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment" aria-selected="false">Payment</a>
                </li>
				 <li class="nav-item">
                    <a class="nav-link" id="acceptedjob-tab" data-toggle="tab" href="#acceptedjob" role="tab" aria-controls="postedjob" aria-selected="false">Accepted Jobs</a>
                </li>
            </ul>
			
			
			
			
			<div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Charlie123</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Charlie Williams</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Date of Birth</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>6/25/1986</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Gender</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Female</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>charlieW@gmail.com</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>223 4466 7890</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Address</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>1260 112th Ave NE</p>
                                            </div>
                                        </div>
										<div class="row">
                                            <div class="col-md-6">
                                                <label>City</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Bellevue</p>
                                            </div>
                                        </div>
										<div class="row">
                                            <div class="col-md-6">
                                                <label>State</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>WA</p>
                                            </div>
                                        </div>
										<div class="row">
                                            <div class="col-md-6">
                                                <label>Pin</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>98004</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane " id="experience" role="tabpanel" aria-labelledby="experience-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Certification</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Yes</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Years of Experience</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>7 years</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Special qualities</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Special traing completed for kids below 5 years</p>
                                                <p>Special training with pets</p>
                                            </div>
                                        </div>
                                        
							</div>
							
							
							<div class="tab-pane " id="payment" role="tabpanel" aria-labelledby="payment-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Amount to be received</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>1000$</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Payment Due</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>5/24/2019</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Account Details</label>
                                            </div>
										</div>
										<div class="row">
											<div class="col-md-6">
                                                <label>Account Number</label>
											</div>
                                            <div class="col-md-6">	
                                                <p>xxxxxx135</p>
                                            </div>
                                        </div>
                            </div>
							
							
							<div class="tab-pane " id="acceptedjob" role="tabpanel" aria-labelledby="acceptedjob-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Job posted 1</label>
                                            </div>
                                        </div>
										<div class="row">
                                            <div class="col-md-6">
                                                <label>Job Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Sarah Ghelani kid's</p>
                                            </div>
                                        </div>
										
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Date</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>6/4/2019</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Time</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>11:00am - 4:00pm</p>
                                            </div>
                                        </div>
										
										<div class="row">
                                            <div class="col-md-6">
                                                <label>Place</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>1100 NE 9th PL, Bellevue WA, 98004</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Job posted 2</label>
                                            </div>
                                        </div>
										
										<div class="row">
                                            <div class="col-md-6">
                                                <label>Job Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>John Mark kid's</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Date</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>6/12/2019</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Time</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>08:00am - 2:00pm</p>
                                            </div>
                                        </div>
										<div class="row">
                                            <div class="col-md-6">
                                                <label>Place</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>1367 110th N, Bellevue WA, 98004</p>
                                            </div>
                                        </div>
                            </div>
						</div>
                    </div>
			</div>
        </div>
    </div>
    <hr>
    <!--Row with single column-->
    <div class="row">
        <div class="col-12">
            <div class="foundation-col">
                <p style="text-align: right"><i class="fa fa-copyright"></i> 2019 Symbii, Group F, CPSC 5240 19SQ, Seattle University</p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>

