<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Symbii</title>
    </head>
    <body>
        <div class="container">
            <!--Row with single column-->
            <div class="row">
                <div class="col-xs-3">
                    <div class="main-col">User Profile</div>
                </div>
                <div class="col-xs-9">
                    <div class="main-col">User Calendar</div>
                </div>
            </div>
            <hr>
            <!--Row with single column-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="foundation-col">Page Foundation One Level Above the Footer</div>
                </div>
            </div>
        </div>
    </body>
</html>
