<div class="container-fluid">
    <!-- Top row -->
    <div class="row">
      <!-- Profile Box -->  
      <div class="col-4 profile-box" style="background-color:rgb(240, 245, 176);">
        <div>
          Profile Picture
        </div>
      </div>
      <!-- Bio Box -->
      <div class="col" style="background-color:rgb(207, 218, 248);">
        <div>
          Welcome back {{ user.firstName }}
        </div>
      </div>
    </div>
    <!-- Bottom row -->
    <div class="row">
      <button (click)="activeTab = 0" class="col profile-tab">
        Profile
      </button>
      <button (click)="activeTab = 1" class="col profile-tab">
        Family
      </button>
      <button (click)="activeTab = 2" class="col profile-tab">
        Jobs
      </button>
      <button (click)="activeTab = 3" class="col profile-tab">
        Experience
      </button>
    </div>
    <div class="row" >
      <div class="col basicinfo-box" style=background-color:blueviolet [ngSwitch]="activeTab">
        <!-- Profile Box-->
        <div *ngSwitchCase="0">
            Basic Info
            <ul>
              <li>Name: {{user.firstName + " " + user.lastName}}</li>
              <li>Gender: {{user.gender}}</li>
              <li>Email: {{user.email}}</li>
              <li>Phone: {{user.phoneNumber}}</li>
              <li>City: {{user.address.city}}</li>
              <li>State: {{user.address.state}}</li>
              <li>Bio: {{user.bio}}</li>
            </ul>
        </div>
        <!-- Family Information -->
        <div *ngSwitchCase="1">
            Family
            <ul>
                <li>Children: {{user.profiles[0].family.children}}</li>
                <li>Pets: {{user.profiles[0].family.pets}}</li>
                <li>Email: {{user.email}}</li>
                <li>Phone: {{user.phoneNumber}}</li>
                <li>City: {{user.address.city}}</li>
                <li>State: {{user.address.state}}</li>
                <li>Bio: {{user.bio}}</li>
              </ul>
        </div>
        <!-- Jobs Information -->
        <div *ngSwitchCase="2">
            Jobs Box
        </div>
        <!-- Experience Information-->
        <div *ngSwitchCase="3">
            Experience Box
        </div>
      </div>
    </div>
</div>