* {
    box-sizing: border-box;
}

body {
    width: 100%;
}

/* Create two equal columns that floats next to each other */
[class*="col"] {
    float:left;
    padding: 15px;
    margin: 5px;
}

.profile-box {
    height: 30vh;
}
.basicinfo-box{
    height: max-content;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
    width: 2vw;
}
