<div>
    <!-- Top row -->
    <div class="row">
      <!-- Profile Box -->  
      <div class="col-4 profile-box" style="background-color:rgb(240, 245, 176);">
        <div>
          Profile Box
        </div>
      </div>
      <!-- Bio Box -->
      <div class="col-6" style="background-color:rgb(207, 218, 248);">
        <div>
          Bio Info
        </div>
      </div>
    </div>
    <!-- Bottom row -->
    <div class="row">
      <!-- Box below Profile picture -->
      <div class="col basicinfo-box" style=background-color:blueviolet>
        More random bio info
      </div>
    </div>
</div>