<div class="background container-fluid">
   <div class="profile-row row">
     <!-- Left Col -->
     <div class="col main-col">
       <div class="profile-info container" [ngSwitch]="activeTab">
         <!-- Profile Box-->
         <div *ngSwitchCase="0">
            <h2>Basic Info</h2>
            <ul class="list-group rounded">
              <li class="list-group-item"><span class="info-title">Name:</span> {{user.firstName + " " + user.lastName}}</li>
              <li class="list-group-item"><span class="info-title">Gender:</span> {{user.gender}}</li>
              <li class="list-group-item"><span class="info-title">Email:</span> {{user.email}}</li>
              <li class="list-group-item"><span class="info-title">Phone:</span> {{user.phoneNumber}}</li>
              <li class="list-group-item"><span class="info-title">City:</span> {{user.address.city}}</li>
              <li class="list-group-item"><span class="info-title">State:</span> {{user.address.state}}</li>
              <li class="list-group-item"><span class="info-title">Bio:</span> {{user.bio}}</li>
            </ul>
        </div>
        <!-- Family Information -->
        <div *ngSwitchCase="1">
            <h2>Family</h2>
            <ul class="list-group">
              <li class="list-group-item">
                <span class="info-title">Children:</span> 
                {{user.profiles[0].family.children}}
              </li>
              <li class="list-group-item"><span class="info-title">Pets:</span> {{user.profiles[0].family.pets}}</li>
              <li class="list-group-item">
                <span class="info-title">House Rules:</span> 
                <p *ngFor="let rules of user.profiles[0].houseRules">{{rules}}</p>
              </li>
            </ul>
        </div>
        <!-- Experience Information-->
        <div *ngSwitchCase="2">
            <h2>Experience Box</h2>
            <ul class="list-group" *ngFor="let exp of user.profiles[1].experience">
              <li class="list-group-item">
                <span class="info-title">{{exp.jobPlace}}</span><br>
                {{exp.jobDesignation}}<br>
                {{exp.jobDescription}}<br>
                {{exp.startDate}}<br>
                {{exp.endDate}}
              </li>
            </ul>
        </div>
        <div *ngSwitchCase="3">
          <h2>Payment Information</h2>
        </div>
       </div>
     </div>

     <!-- Right Col -->
     <div class="col-2 main-col" style="color: black">
      <ul class="container sidebar sidebar-list">
        <li>
          <button (click)="activeTab = 0" class="profile-tab">
            Profile
          </button>
        </li>
        <li>
          <button (click)="activeTab = 1" class="profile-tab">
            Family
          </button>
        </li>
        <li>
          <button (click)="activeTab = 2" class="profile-tab">
            Experience
          </button>
        </li>
        <li>
          <button (click)="activeTab = 3" class="profile-tab">
            Payments
          </button>
        </li>
      </ul>
     </div>
   </div>
</div>