* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
[class*="col"] {
    float:left;
    padding: 15px;
    margin: 5px;
}

.profile-box {
    height: 30vh;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

.profile-tab{
    background-color: rgb(211, 183, 183);
}
.profile-tab:hover{
    background-color: rgb(149, 224, 229);
}

.profile-tab:active{
    background-color: rgb(110, 169, 173);
}

button{
    background-color: grey;
    border-style: none;
}