* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
[class*="col"] {
    float:left;
    padding: 15px;
    margin: 5px;
}

.profile-box {
    height: 35vh;
    text-align: center;
    background-color: grey;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

.profile-tab{
    background-color: rgb(87, 154, 231);
    color: #ffff;
}
.profile-tab:hover{
    background-color: rgb(51, 137, 235);
}

.profile-tab:active{
    background-color: rgb(94, 169, 255);
}

.profile-info{
    overflow: auto;
    height: 36vh;
    background-color: rgb(233, 245, 255);
}

button{
    background-color: grey;
    border-style: none;
}