<div>
  <div class="sidebar-logo">Symbii</div>
  <div class="sidebar-content">
    <ul class="left-hand-list">
      <li><a [routerLink]="['/profile']"><i class="fas fa-user-circle"></i> My Profile</a></li>
      <li><a [routerLink]="['/jobs']"><i class="fas fa-suitcase"></i> Jobs</a></li>
      <li><a [routerLink]="['/review']"><i class="fas fa-comment"></i> Reviews</a></li>
      <li><a [routerLink]="['/users']"><i class="fas fa-child"></i> Families</a></li>
      <li><a [routerLink]="['/users']"><i class="fas fa-id-badge"></i> Caregivers</a></li>
      <li><i class="fab fa-paypal"></i> Payments</li>
      <li><i class="fas fa-cog"></i> Account Settings</li>
    </ul>
  </div>
</div>
