.container-fluid{
  background-color: darkmagenta;
  padding: 0;
  margin: 0;
}

.foundation-col{
    color: white;
    font-size: 15px;
    min-height: 10px;
    text-align: left;
    padding: 15px;
}

.footer {
  bottom: 0;
  position: fixed;
  overflow: hidden;
  width: 100%;
}
