.foundation-col{
    color: white;
    font-size: 15px;
    min-height: 10px;
    text-align: right;
    padding: 15px;
}

.footer {
  bottom: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
}
