.foundation-col{
    background: #e2e2e2;
    font-size: 15px;
    min-height: 10px;
    text-align: left;
    padding: 15px;
}

.footer {
  bottom: 0;
  position: fixed;
  overflow: hidden;
  background-color: #ddd;
  width: 100%;
}
