<!--   ***   Main Body layout   ***   -->
<!--  ***   Row with two columns   ***   -->
<div class="jumbotron jumbotron-fluid">
    <div class="title">
        Symbii
    </div>
    <div class="text-body">
      A Symbiotic Relationship Between Parents and Nannies
    </div>
</div>
<hr>
<!--   ***   Row with single column for the footer   ***   -->
<div class="row">
    <div class="col-12">
        <div class="foundation-col">
            <p style="text-align: right"><i class="fa fa-copyright"></i> 2019 Symbii, Group F, CPSC 5240 19SQ, Seattle University</p>
        </div>
    </div>
</div>
