<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 fixed-top">
  <a class="navbar-brand" [routerLink]="['/']" [routerLinkActive]="['active']">SYMBII</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
    <div *ngIf="navbarCheck; else elseBlock">
      <ul class="navbar-nav">
        <li>
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Search caregivers...">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
        </li>
        <!-- Profile -->
        <li class="nav-item"  [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/profile']" [routerLinkActive]="['active']">
            <i class="fas fa-user"></i> <span class="sr-only">(current)</span>
          </a>
        </li>
        
        <!-- Parent Dashboard -->
        <li class="nav-item"  [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/dashboard/parent']" [routerLinkActive]="['active']">
              <i class="fas fa-home"></i> <span class="sr-only">(current)</span>
            </a>
        </li>
        <!-- Caregiver Dashboard-->
        <li class="nav-item"  [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/dashboard/caregiver']" [routerLinkActive]="['active']">
              <i class="fas fa-umbrella"></i> <span class="sr-only">(current)</span>
            </a>
        </li>


        <!-- Logout -->
        <li class="nav-item"  [routerLinkActive]="['active']">
          <a (click)="logOut()" class="nav-link" [routerLink]="['/']"> 
            <i class="fas fa-power-off"></i>
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>
    <ng-template #elseBlock>
      <ul class="navbar-nav">
        <li class="nav-item"  [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">Login <span
            class="sr-only">(current)</span></a>
        </li>
          <li class="nav-item"  [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/signup']">Sign up <span
              class="sr-only">(current)</span>
            </a>
        </li>
      </ul>
    </ng-template>
    
    
  </div>
</nav>
