<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" id="dashboard-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-sm-12 col-md-6">
      <h5>Your Reviews</h5>
      <div class="card my-3" *ngFor="let r of reviews$">
        <div class="card-body">
          <h5 class="card-title text-break">{{r.reviewTitle}}</h5>
          <div class="float-left" style="width: 70%">
            <i>{{r.reviewDate}}</i>
          </div>
          <div class="float-right text-right" style="width: 28%;">
            <span *ngFor="let s of getStartRatingsArray(r.starRating)">
              <i *ngIf="!s" class="far fa-star"></i>
              <i *ngIf="s" class="fas fa-star"></i>
            </span>
          </div>
          <div class="clearfix"></div>
          <div class="text-break">{{r.reviewNotes}}</div>
          <div>
              <button  type="button" (click)="deleteReview(r)" class="btn btn-info" >Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
